html {
    font-size: 16px;
}

body {
    background-color:#e0e0e0;
}

header {
  height:50px;
  a{
    float:left;
    font-size:20px;
    font-style:bold;
    margin: 10px;
    text-decoration:none;
  }

  .login{
    float:right;
    margin-right:10px;
  }
}

div.item {
    padding: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;

    img {
        max-width: 18.5rem;
    }
}

footer {
    padding: 1rem 2rem;
    text-align: center;
    background-color: #fefefe;
    min-height: 10rem;
}
