body {
  background-color:#e0e0e0;
}

header {
  height:50px;
  a{
    float:left;
    font-size:20px;
    font-style:bold;
    margin: 10px;
    text-decoration:none;
  }

  .login{
    float:right;
    margin-right:10px;
  }
}

/*
div.item {
    display: inline-block;
    margin: 1rem;
}
*/

footer {
    padding: 1rem 2rem;
    text-align: center;
    background-color: #fefefe;
    min-height: 10rem;
}
