<html>
    <head>
        <title>LeftStitch Brief</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LeftStitch</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li class="active"><a href="#">Gallery</a></li>
                <li><a href="#">Designer</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img src="http://placehold.it/20x20"/></a></li>
                <li><a href="#">John Doe</a></li>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id="content">

            <div class="row">
                <div class="col-xs-12">

                    <!-- Content goes here! -->
                    <div id="main" ng-app="leftstitch" ng-controller="briefController" ng-init="init()">
                      <div class="judge-cont" ng-model="judge">
                        <a href="{{judge.id}}"><img class="judge-avatar" src="{{judge.avatar}}"/></a><span class="judge-wants">{{judge.name}} wants to see...</span>
                      </div>

                      <div class="col-xs-9 main-col">
                        <div class="main-cont">
                          <div class="brief-cont">
                            <h3 class="brief-header">{{brief.title}}</h3>
                            <p class="brief-description">{{brief.description}}</p>

                            <ul class="brief-images-cont">
                              <li ng-repeat="image in brief.images">
                                <div class="fimage">
                                  <img src="{{image}}"/>
                                </div>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>

                          <div class="submissions">
                            <h4 class="submissions-header">PROJECT ENTRIES</h4>
                            <ul class="submission-list">
                              <li ng-repeat="submission in brief.submissions">
                                <div class="submission-head">
                                  <img class="submission-user-avatar" src="{{submission.user.avatar}}"/>
                                  <h4>{{submission.title}}</h4>
                                  <span class="submission-username">{{submission.user.name}}&nbsp/&nbsp{{submission.user.submissionCount}} designs</span>
                                </div>
                                <ul class="submission-image-list">
                                  {{console.log(submission.images)}}
                                  <li ng-repeat="submissionImage in submission.images">
                                    <div class="fimage">
                                      <img src="{{submissionImage}}"/>
                                    </div>
                                  </li>
                                </ul>
                                <div class="clearfix"></div>
                                <p class="submission-description">{{submission.description}}</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    <div class="col-xs-3 side-col">
                      <div class="side-header">

                        <p class="dates-cont">
                          <p class="submission-date">{{timeAgo( brief.endSubmissionDate )}}</p>
                          <p>until submission closes.</p> 
                        </p>

                        <button class="btn btn-default submission-submit">submit</button>
                      </div>
                      <div class="rules-cont">
                        <h4 class="rule-warning">Please read this carefully before you submit.</h4>
                        <div class="side-rules" ng-repeat="rule in brief.rules">
                          <h5>{{rule.title}}</h5>
                          <p>{{rule.rule}}</p>
                        </div>
                      </div>
                    </div>
                    <!-- End content -->
                </div>
            </div>
        </div>

        <footer class="row">
            <div class="col-md-4 col-xs-14">Left side footer</div>
            <div class="col-md-4 col-xs-14">&copy; 2013 LeftStitch</div>
            <div class="col-md-4 col-xs-14">Right side footer</div>
        </footer>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>

        <script src="js/jquery.timeago.js"></script>

        <!-- Angular App Files -->
        <script src="js/angular-app/directives/fileDragDropDirective.js"></script>
        <script src="js/angular-app/controllers/briefController.js"></script>
        <script src="js/angular-app/controllers/mainController.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.1/masonry.pkgd.min.js"></script>
        <script src="//passy.github.io/angular-masonry/angular-masonry.js"></script>

        <!-- Startup Angular App -->
        <script src="js/angular-app/modules/app.js"></script>

        <script src="//desandro.github.io/imagesloaded/imagesloaded.pkgd.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
        <script src="//cdn.firebase.com/v0/firebase.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    </body>
</html>
