<html>
    <head>
        <title>LeftStitch</title>
    </head>
    <body>
        <div class="well" ng-app="chat" ng-controller="Chat">
        <form class="form-inline">
            Your name: <input type="text" ng-model="username">
        </form>
        <div ng-cloak ng-repeat="message in messages">
            <em>{{message.from}}: </em>{{message.content}}
        </div><br/>
        <form class="form-inline" ng-submit="addMessage()">
            <input type="text" ng-model="message" placeholder="Message...">
            <button class="btn" type="submit">
            <i class="icon-reply"> Send</i>
            </button>
        </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script src="//cdn.firebase.com/v0/firebase.js"></script>
        <script type="text/javascript">
            angular.module('chat', [])
                .controller('Chat', ['$scope',
                    function($scope) {
                        $scope.username = 'Guest' + Math.floor(Math.random()*101);
                        $scope.messages = {};
                        $scope.addMessage = function() {
                            var id = $scope.ref.push().name();
                            $scope.messages[id] = {
                                from: $scope.username, content: $scope.message
                            };
                            $scope.message = "";
                            $scope.ref.child(id).set($scope.messages[id]);
                        }
                        $scope.ref.on('child_added', function(snapshot) {
                            $scope.messages = snapshot;
                        });
                    }
                ])
                .run(function($rootScope) {
                    $rootScope.ref = new Firebase('https://leftstitch.firebaseio.com/content');
                });
        </script>
    </body>
</html>
