<html>
    <head>
        <title>LeftStitch</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="well" ng-app="chat" ng-controller="Chat">
        <form class="form-inline">
            Your name: <input type="text" ng-model="username">
        </form>
        <div ng-cloak ng-repeat="message in messages">
            <em>{{message.from}}: </em>{{message.content}}
        </div><br/>
        <form class="form-inline" ng-submit="addMessage()">
            <input type="text" ng-model="message" placeholder="Message...">
            <button class="btn" type="submit">
            <i class="icon-reply"> Send</i>
            </button>
        </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
        <script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
        <script src="//cdn.firebase.com/v0/firebase.js"></script>
        <script src="/js/angular-app/controllers/chatController.js"></script>
        <script src="/js/angular-app/modules/app.js"></script>
    </body>
</html>
